/* Parent Container */
.create-account-page-container{
    display: flex;
    justify-content: center;
    /* background-image: url('https://i.imgur.com/zzX0P7b.png'); */
}

.create-account-container{
}

/* Title Header */
.header{
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    display: block;
    text-align: center;
    font-size: 55px; 
    text-align: center;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/* Parent element to name*/
.name-container{
    display:flex;
}   

.name{
    flex:1;
    padding: 2px;
    
}

/* Parent element to street, city*/
.address-container-a{
    display:flex;
}
.street-city{
    flex:1;
    padding: 2px;   
}

/* Parent element to state, zip */
.address-container-b{
    display:flex;
}

.state-zip{
    flex:1;
    padding: 25px;
}

.success{
    flex:1;
    padding: 2px;   
}

