.services-container{
    padding: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.servone-container{
    order:1;
    flex:1;
}

.servtwo-container{
    order:2;
    flex:1;
}

.servthree-conatiner{
    order:3;
    flex:1;
}