/* Title Header */
.header{
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    display: block;
    text-align: center;
    font-size: 55px; 
    text-align: center;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
    width: 800px;
}


/* Parent Container */
.your-profile-page-container{
    display: flex;
    justify-content: center;
}

/* Parent element to name*/
.name-container{
    flex:1;
    display:flex;
    padding: 20px;
}   

.name{
    flex:1;
    padding: 2px;
}

/* Parent element to address*/
.address-container{
    display:flex;
}
.address{
    flex:1;
    padding: 2px;   
}

/* Parent element to city-state */
.city-state-container{
    display:flex;
}

.city-state{
    flex:1;
    padding: 2px;   
}   

.state-form{
    width: 150px;
    margin: auto;    
}

/* Parent Element of zip-phone */
.zip-phone-container{
    display:flex;
}

.zip-phone{
    flex:1;
    padding: 2px;   
}

/* Parent Element of buttons */
.buttons-container{
    display:flex;
}

.btns{
    flex:1;
    padding: 2px;   
}