/* Title Header */
.header{
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    display: block;
    text-align: center;
    font-size: 55px; 
    text-align: center;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif
}

/* Parent Container */
.your-profile-page-container{
    display: flex;
    justify-content: center;
}

.headline-container{
    display:center;
}


/* Parent element to name*/
.name-container{
    flex:1;
    display:flex;
}   

.name{
    flex:1;
    padding: 2px;
}

/* Parent element to address*/
.address-container{
    display:flex;
}
.address{
    flex:1;
    padding: 2px;   
}

/* Parent element to city-state */
.city-state-container{
    display:flex;
}
.city-state{
    flex:1;
    padding: 2px;   
}   

.zip-phone-container{
    display:flex;
}

.zip-phone{
    flex:1;
    padding: 2px;   
}

/* Parent Element of buttons */
.buttons-container{
    display:flex;
}

.btns{
    flex:1;
    padding: 2px;   
}