.comp-container{
    display: flex;
    justify-content: center;
    background-image: url('https://i.imgur.com/zzX0P7b.png');
    min-height: 90vh;
}

.specialist-container{
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: white;
    border: 5px solid black;
    justify-content: space-around;
}

.p-container{
    order:1;
    color: cyan;
    font-size: 50px;
    font-weight: lighter;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.specialist-name-one {
    flex:1;
    margin-left: 360px;
    margin-bottom: cm  ;
    text-align: left;
    position: relative; 
    top: -220px;
}

.specialist-degree-one {
    margin-left: 360px;
    margin-top: cm;
    text-align: left;
    position: relative;
    top: -230px;
}

.specialist-name-two {
    flex:1;
    margin-left: 360px;
    margin-bottom: cm  ;
    text-align: left;
    position: relative; 
    top: -220px;
}

.specialist-degree-two {
    margin-left: 360px;
    margin-top: cm;
    text-align: left;
    position: relative;
    top: -230px;
}

.specialist-name-three {
    flex:1;
    margin-left: 360px;
    margin-bottom: cm  ;
    text-align: left;
    position: relative; 
    top: -205px;
}

.specialist-degree-three {
    margin-left: 360px;
    margin-top: cm;
    text-align: left;
    position: relative;
    top: -220px;
}

.form-header{
    text-align: left;
    position: relative;
}

.form-check{
    display: flex;
    flex-direction: row;

}

.row-one-cont{
    order:2;
    display:flex;
    flex-direction: row;
}

.row-two-cont{
    order:3;
}

.row-three-cont{
    order:4;
}
