.login-container{
    display: flex;
    align-items: stretch;
    justify-content: center;
    background-image: url('https://i.imgur.com/zzX0P7b.png');
}

.form-container{
    flex:1;
    padding: 40px;
    max-width: 600px;
    background-color: white;
}

.button-container{
  background-color: cyan;
  color: white;
  border-color: rgb(4, 189, 189);
  margin-top: 20px;
}

.label-container{
    padding: 10px;
    color: cyan;
    font-size: 30px;
    font-weight: bold;
    display: block;
    text-align: center;
}

.welcome-container{
    padding: 10px;
    color: cyan;
    font-size: 30px;
    font-weight: bold;
    display: block;
    text-align: center;
    font-size: 55px; 
    text-align: center;
}
